*{
  padding: 0%;
  margin: 0;
}
.App > p{
  
  color:red
}

.final{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 30px;
  align-self: center;
}

.query{
  box-sizing: border-box;
}

.item{
  display: flex;
  max-width: 15ch;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  align-content: center;
  background: aliceblue;
  border-radius: 10px;
}

.button{
  margin: 0 auto;
}

.displaynone{
  display: none;
}
.result{
  box-sizing: border-box;
  position: sticky;
  top: 10ch;
  left: calc(15ch + 150px);
}

.email{
  overflow-wrap: anywhere;
}

table{
  font-size: 0.9rem;
  table-layout: fixed;
  border-spacing: 10px;
  line-height: 1;
  background: #e8e1e1;
  border-collapse: collapse;
  margin: 0 auto;
  border-radius: 0px 0px 50px 50px;
}
caption{
  
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
caption,th,td{
  
  padding: 1rem;
}
caption,th{
  text-align: center;
}
caption{
  background: rgb(237, 237, 237);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
th{
  background: hsla(0, 0%, 100%, 0.5);
}

tr:nth-of-type(2n){
  background: hsla(0, 0%, 100%, 0.8);
}
/* tr:last-child td:first-child{
  border-bottom-left-radius: 1000px;
}
tr:last-child td:last-child{
  border-bottom-right-radius: 100px;
} */
/* tr:last-child{
  border-bottom-left-radius: 100px;
} */

button {
  --c:  #229091; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + 5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
button:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}

button {
  font-family: system-ui, sans-serif;
  cursor: pointer;
  font-weight: bold;  
  padding: 10px;
  border: none;
  border-radius: 5px;
}


  
  .query{
    display: flex;
    flex-direction: column;
  }
  .result{
    position: static;
  }
  th{
    display: none;
  }
  td{
    display: grid;
    grid-template-columns: 7em auto;
    padding: 0.5rem 1rem;
  }
  td:first-child{
    padding-top: 2rem;
  }
  td:last-child{
    padding-bottom: 2rem;
  }
  td::before{
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }
  

/* .cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(23, 22, 22, 0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

.cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}


.spinner {
	--animation-duration: 1000ms;
	width: var(--size);
	height: var(--size);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
}
.spinner-item {
  height: 40%;
  background-color: var(--clr-spinner);
  width: calc(var(--size) / 13);
  animation: spinner5 var(--animation-duration) ease-in-out infinite;

  @keyframes spinner5 {
    25% {
      transform: scaleY(2);
    }

    50% {
      transform: scaleY(1);
    }
  }
}

	.spinner-item:nth-child(1) {
		--clr-spinner: var(--clr1);
	}

	.spinner-item:nth-child(2) {
		--clr-spinner: var(--clr3);
		animation-delay: calc(var(--animation-duration) / 10);
	}

	.spinner-item:nth-child(3) {
		--clr-spinner: var(--clr5);
		animation-delay: calc(var(--animation-duration) / 10 * 2);
	}

	.spinner-item:nth-child(4) {
		--clr-spinner: var(--clr4);
		animation-delay: calc(var(--animation-duration) / 10 * 3);
	}

	.spinner-item:nth-child(5) {
		--clr-spinner: var(--clr2);
		animation-delay: calc(var(--animation-duration) / 10 * 4);
	} */


  #circle {
    display: block;
    position: absolute;
    box-sizing: border-box;
    position: sticky;
    top: 10ch;
    left: calc(15ch + 150px);
    height: 50px;
    width: 50px;
    margin: -25px 0 0 -25px;
    border: 4px rgba(0, 0, 0, 0.25) solid;
    border-top: 5px #229091 solid;
    border-right: 5px #fff solid;
    border-bottom: 5px #229091 solid;
    border-left: 5px #fff solid;
    border-radius: 50%;
    -webkit-animation: spin6 1s infinite linear;
            animation: spin6 1s infinite linear;
  }
  
  @-webkit-keyframes spin6 {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
  }
  @keyframes spin6 {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
  }