*{
  padding: 0%;
  margin: 0;
}

.App{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 30px;
  align-self: center;
}

.query{
  box-sizing: border-box;
}

.item{
  display: flex;
  max-width: 15ch;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  align-content: center;
  background: aliceblue;
  border-radius: 10px;
}

.button{
  margin: 0 auto;
}

.displaynone{
  display: none;
}
.result{
  box-sizing: border-box;
  position: sticky;
  top: 10ch;
  left: calc(15ch + 150px);
}

.email{
  overflow-wrap: anywhere;
}

table{
  font-size: 0.9rem;
  table-layout: fixed;
  border-spacing: 10px;
  line-height: 1;
  background: #e8e1e1;
  border-collapse: collapse;
  margin: 0 auto;
  border-radius: 0px 0px 50px 50px;
}
caption{
  
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
caption,th,td{
  
  padding: 1rem;
}
caption,th{
  text-align: center;
}
caption{
  background: rgb(237, 237, 237);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
th{
  background: hsla(0, 0%, 100%, 0.5);
}

tr:nth-of-type(2n){
  background: hsla(0, 0%, 100%, 0.8);
}
/* tr:last-child td:first-child{
  border-bottom-left-radius: 1000px;
}
tr:last-child td:last-child{
  border-bottom-right-radius: 100px;
} */
/* tr:last-child{
  border-bottom-left-radius: 100px;
} */

button {
  --c:  #229091; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + 5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
button:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}

button {
  font-family: system-ui, sans-serif;
  cursor: pointer;
  font-weight: bold;  
  padding: 10px;
  border: none;
  border-radius: 5px;
}


  
  .query{
    display: flex;
    flex-direction: column;
  }
  .result{
    position: static;
  }
  th{
    display: none;
  }
  td{
    display: grid;
    grid-template-columns: 7em auto;
    padding: 0.5rem 1rem;
  }
  td:first-child{
    padding-top: 2rem;
  }
  td:last-child{
    padding-bottom: 2rem;
  }
  td::before{
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }
  

